<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Saludo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Hola <span th:text="${nombre}"></span><br>
<!--            Resultado de la Suma: <span th:text = "${numero1 + numero2}"></span><br>
            Resultado de la Resta <span th:text = "${numero1 - numero2}"></span><br>
            Resultado de la Multiplicacion: <span th:text = "${numero1 * numero2}"></span> <br>
            Resultado de la Division: <span th:text = "${numero1 / numero2}"></span><br>-->
            
            Factorial: <span th:text = "${resultado}"></span>
        </div>
        
        
    </body>
</html>
